body{
    background: #001429;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 32px;
    text-align: center;
}
h1 {
    text-align: center;
    color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    border:12px dashed #EB6305;
    
}
h2 {
    text-align: center;
    color: whitesmoke;
    border: 4px dashed #EB6305;
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.about{
    display:flex;
    color: whitesmoke;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px whitesmoke;
    }


.skills {
    color:whitesmoke;
}


.projects { 
    display:flex; flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: #EB6305;
border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    display: block;
    margin: auto;
    }

.contact {
    color:#f5f5f5;
    font-style: italic;
}


.disclaimer {
    color:#d4ff27;
    font-size: smaller;
    text-align: right;
    
    text-decoration: double;
}

a { 
    text-decoration: none;
    color: #d4ff27;
    }
 .project p { 
    text-align: center;
    margin: 15px;
    }
